In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import bokeh as bok

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/coffee-shop-data/rota.csv
/kaggle/input/coffee-shop-data/items.csv
/kaggle/input/coffee-shop-data/staff.csv
/kaggle/input/coffee-shop-data/ingredients.csv
/kaggle/input/coffee-shop-data/inventory.csv
/kaggle/input/coffee-shop-data/recipe.csv
/kaggle/input/coffee-shop-data/shift.csv
/kaggle/input/coffee-shop-data/orders.csv
/kaggle/input/coffee-shop-data/CoffeeShop.xlsx

In [2]:
coffee_shop = pd.read_excel("/kaggle/input/coffee-shop-data/CoffeeShop.xlsx")
ingredient = pd.read_csv("/kaggle/input/coffee-shop-data/ingredients.csv")
inventory = pd.read_csv("/kaggle/input/coffee-shop-data/inventory.csv")
items = pd.read_csv("/kaggle/input/coffee-shop-data/items.csv")
orders = pd.read_csv("/kaggle/input/coffee-shop-data/orders.csv")
recipe =  pd.read_csv("/kaggle/input/coffee-shop-data/recipe.csv")
rota = pd.read_csv("/kaggle/input/coffee-shop-data/rota.csv")
shift = pd.read_csv("/kaggle/input/coffee-shop-data/shift.csv")
staff = pd.read_csv("/kaggle/input/coffee-shop-data/staff.csv")

In [3]:
coffee_shop

     row_id order_id          created_at item_id  quantity cust_name in_or_out
0         1   ORD001 2024-02-12 07:04:00   It008         1      Alex       out
1         2   ORD002 2024-02-12 07:09:00   It014         1    Jordan        in
2         3   ORD003 2024-02-12 07:14:00   It008         1    Taylor       out
3         4   ORD004 2024-02-12 07:18:00   It019         1     Casey       out
4         5   ORD005 2024-02-12 07:23:00   It024         1     Jamie       out
..      ...      ...                 ...     ...       ...       ...       ...
516     517   ORD433 2024-02-17 16:11:00   It023         1      Gina        in
517     518   ORD434 2024-02-17 16:27:00   It006         1      Hugh       out
518     519   ORD435 2024-02-17 16:43:00   It018         1      Iris        in
519     520   ORD436 2024-02-17 16:59:00   It002         1      Jack       out
520     521   ORD437 2024-02-17 17:00:00   It026         1     Kiera        in

[521 rows x 7 columns]

In [4]:
coffee_shop.columns

Index(['row_id', 'order_id', 'created_at', 'item_id', 'quantity', 'cust_name',
       'in_or_out'],
      dtype='object')

In [5]:
ingredient

    ing_id                       ing_name  ing_weight ing_meas  ing_price
0   ING001                 Espresso beans        1000    grams      12.00
1   ING002                     Whole Milk        1000       ml       1.20
2   ING003                        Cheddar         500    grams       7.45
3   ING004                     Mozzarella         500    grams       5.00
4   ING005                  Whipped cream         300       ml       1.35
5   ING006                  Vanilla syrup        1000       ml      14.52
6   ING007        Barista chocolate syrup        1000       ml       8.49
7   ING008  Barista white chocolate syrup        1000       ml       8.49
8   ING009          Barista caramel sauce        1000       ml       8.49
9   ING010                          Sugar        1000    grams       1.50
10  ING011                   Panini Bread           4    units       1.35
11  ING012                   Cocoa powder        1000    grams      22.00
12  ING013                      Chocolate        1000    grams      10.50
13  ING014                         Lemons           5    units       1.50
14  ING015                            Ham        1000    grams      27.50
15  ING016                         Salami        1000    grams      15.49
16  ING017                      Black Tea        1000    grams      16.00
17  ING018                Vanilla extract          60       ml       9.99

In [6]:
ingredient.columns

Index(['ing_id', 'ing_name', 'ing_weight', 'ing_meas', 'ing_price'], dtype='object')

In [7]:
inventory

    inv_id  ing_id  quantity
0   inv001  ING001         4
1   inv002  ING002        55
2   inv003  ING003         1
3   inv004  ING004         4
4   inv005  ING005         7
5   inv006  ING006         3
6   inv007  ING007         3
7   inv008  ING008         4
8   inv009  ING009         1
9   inv010  ING010         4
10  inv011  ING011        20
11  inv012  ING012         5
12  inv013  ING013         2
13  inv014  ING014        10
14  inv015  ING015         3
15  inv016  ING016         2
16  inv017  ING017         2
17  inv018  ING018         2

In [8]:
inventory.columns

Index(['inv_id', 'ing_id', 'quantity'], dtype='object')

In [9]:
items

,item_id,sku,item_name,item_cat,item_size,item_price
0,It001,HDR-CAP-MD,Cappuccino,Hot Drinks,Medium,3.45
1,It002,HDR-CAP-LG,Cappuccino,Hot Drinks,Large,3.75
2,It003,HDR-LAT-MD,Latte,Hot Drinks,Medium,3.45
3,It004,HDR-LAT-LG,Latte,Hot Drinks,Large,3.75
4,It005,HDR-FLT,Flat White,Hot Drinks,NaN,3.15
5,It006,HDR-CRM-MD,Caramel Macchiato,Hot Drinks,Medium,4.20
6,It007,HDR-CRM-LG,Caramel Macchiato,Hot Drinks,Large,4.60
7,It008,HDR-ESP,Espresso,Hot Drinks,NaN,2.15
8,It009,HDR-MOC-MD,Mocha,Hot Drinks,Medium,4.00
9,It010,HDR-MOC-LG,Mocha,Hot Drinks,Large,4.60
10,It011,HDR-WMO-MD,White Mocha,Hot Drinks,Medium,4.50
11,It012,HDR-WMO-LG,White Mocha,Hot Drinks,Large,4.70
12,It013,HDR-HCH-MD,Hot Chocolate,Hot Drinks,Medium,4.20
13,It014,HDR-HCH-LG,Hot Chocolate,Hot Drinks,Large,4.60
14,It015,CDR-CCF-MD,Cold Coffee,Cold Drinks,Medium,3.45
15,It016,CDR-CCF-LG,Cold Coffee,Cold Drinks,Large,3.75
16,It017,CDR-CMO-MD,Cold Mocha,Cold Drinks,Medium,4.00
17,It018,CDR-CMO-LG,Cold Mocha,Cold Drinks,Large,4.60
18,It019,CDR-ICT-MD,Iced Tea,Cold Drinks,Medium,3.25
19,It020,CDR-ICT-LG,Iced Tea,Cold Drinks,Large,3.55
20,It021,CDR-LMN-MD,Lemonade,Cold Drinks,Medium,3.35
21,It022,CDR-LMN-LG,Lemonade,Cold Drinks,Large,3.75
22,It023,SNK-SHC,Sandwich Ham&Cheese,Snacks,NaN,5.60
23,It024,SNK-SSM,Sandwich Salami&Mozzarella,Snacks,NaN,5.50

In [10]:
items.columns

Index(['item_id', 'sku', 'item_name', 'item_cat', 'item_size', 'item_price'], dtype='object')

In [11]:
orders

,row_id,order_id,created_at,item_id,quantity,cust_name,in_or_out
0,1,ORD001,2024-02-12 07:04:19,It008,1,Alex,out
1,2,ORD002,2024-02-12 07:09:38,It014,1,Jordan,in
2,3,ORD003,2024-02-12 07:14:29,It008,1,Taylor,out
3,4,ORD004,2024-02-12 07:18:39,It019,1,Casey,out
4,5,ORD005,2024-02-12 07:23:44,It024,1,Jamie,out
...,...,...,...,...,...,...,...
516,517,ORD433,2024-02-17 16:11:00,It023,1,Gina,in
517,518,ORD434,2024-02-17 16:27:00,It006,1,Hugh,out
518,519,ORD435,2024-02-17 16:43:00,It018,1,Iris,in
519,520,ORD436,2024-02-17 16:59:00,It002,1,Jack,out
520,521,ORD437,2024-02-17 17:00:00,It026,1,Kiera,in

In [12]:
orders.columns

Index(['row_id', 'order_id', 'created_at', 'item_id', 'quantity', 'cust_name',
       'in_or_out'],
      dtype='object')

In [13]:
recipe

    row_id   recipe_id  ing_id  quantity
0        1  HDR-CAP-MD  ING001         8
1        2  HDR-CAP-MD  ING002       130
2        3  HDR-CAP-LG  ING001        10
3        4  HDR-CAP-LG  ING002       180
4        5  HDR-LAT-MD  ING001         8
..     ...         ...     ...       ...
56      57     SNK-SHC  ING015        50
57      58     SNK-SHC  ING003        20
58      59     SNK-SSM  ING011         1
59      60     SNK-SSM  ING016        50
60      61     SNK-SSM  ING004        20

[61 rows x 4 columns]

In [14]:
recipe.columns

Index(['row_id', 'recipe_id', 'ing_id', 'quantity'], dtype='object')

In [15]:
rota

    row_id rota_id        date shift_id staff_id
0        1   RT001  2024-02-12    SH001    ST001
1        2   RT001  2024-02-12    SH001    ST003
2        3   RT001  2024-02-12    SH002    ST001
3        4   RT002  2024-02-13    SH003    ST002
4        5   RT002  2024-02-13    SH003    ST004
5        6   RT002  2024-02-13    SH004    ST002
6        7   RT003  2024-02-14    SH005    ST001
7        8   RT003  2024-02-14    SH005    ST003
8        9   RT003  2024-02-14    SH006    ST003
9       10   RT004  2024-02-15    SH007    ST002
10      11   RT004  2024-02-15    SH007    ST004
11      12   RT004  2024-02-15    SH008    ST004
12      13   RT005  2024-02-16    SH009    ST001
13      14   RT005  2024-02-16    SH009    ST002
14      15   RT005  2024-02-16    SH010    ST002
15      16   RT006  2024-02-17    SH011    ST003
16      17   RT006  2024-02-17    SH011    ST004
17      18   RT006  2024-02-17    SH012    ST004

In [16]:
rota.columns

Index(['row_id', 'rota_id', 'date', 'shift_id', 'staff_id'], dtype='object')

In [17]:
shift

   shift_id day_of_week start_time  end_time
0     SH001      Monday   07:00:00  13:00:00
1     SH002      Monday   13:00:00  17:00:00
2     SH003     Tuesday   07:00:00  13:00:00
3     SH004     Tuesday   13:00:00  17:00:00
4     SH005   Wednesday   07:00:00  13:00:00
5     SH006   Wednesday   13:00:00  17:00:00
6     SH007    Thursday   07:00:00  13:00:00
7     SH008    Thursday   13:00:00  17:00:00
8     SH009      Friday   07:00:00  13:00:00
9     SH010      Friday   13:00:00  17:00:00
10    SH011    Saturday   07:00:00  13:00:00
11    SH012    Saturday   13:00:00  17:00:00

In [18]:
shift.columns

Index(['shift_id', 'day_of_week', 'start_time', 'end_time'], dtype='object')

In [19]:
staff

  staff_id first_name last_name position  sal_per_hour
0    ST001       Emma   Johnson  Barista          10.0
1    ST002       Liam     Smith  Barista          10.0
2    ST003     Olivia  Williams  Barista          10.0
3    ST004       Noah     Brown  Barista          10.0

In [20]:
staff.columns

Index(['staff_id', 'first_name', 'last_name', 'position', 'sal_per_hour'], dtype='object')

In [21]:
Ingredients = ingredient.iloc[: ,[0,1,2,4]]
price = []
Total_amount_for_ingredients = 0;
for i in range(0,len(Ingredients)):
    price.append([Ingredients.iloc[i,0],Ingredients.iloc[i,1],Ingredients.iloc[i,2]*Ingredients.iloc[i,3]])
    Total_amount_for_ingredients = price[i][2]+Total_amount_for_ingredients
print(f"Total Amount for Ingredients = Rs {Total_amount_for_ingredients}")

Total Amount for Ingredients = Rs 153422.3

In [22]:
price

[['ING001', 'Espresso beans', 12000.0],
 ['ING002', 'Whole Milk', 1200.0],
 ['ING003', 'Cheddar', 3725.0],
 ['ING004', 'Mozzarella', 2500.0],
 ['ING005', 'Whipped cream', 405.0],
 ['ING006', 'Vanilla syrup', 14520.0],
 ['ING007', 'Barista chocolate syrup', 8490.0],
 ['ING008', 'Barista white chocolate syrup', 8490.0],
 ['ING009', 'Barista caramel sauce', 8490.0],
 ['ING010', 'Sugar', 1500.0],
 ['ING011', 'Panini Bread', 5.4],
 ['ING012', 'Cocoa powder', 22000.0],
 ['ING013', 'Chocolate', 10500.0],
 ['ING014', 'Lemons', 7.5],
 ['ING015', 'Ham', 27500.0],
 ['ING016', 'Salami', 15490.0],
 ['ING017', 'Black Tea', 16000.0],
 ['ING018', 'Vanilla extract', 599.4]]

In [23]:
ingredient[(ingredient['ing_weight']==1000) & (ingredient['ing_meas']=='grams')]

    ing_id        ing_name  ing_weight ing_meas  ing_price
0   ING001  Espresso beans        1000    grams      12.00
9   ING010           Sugar        1000    grams       1.50
11  ING012    Cocoa powder        1000    grams      22.00
12  ING013       Chocolate        1000    grams      10.50
14  ING015             Ham        1000    grams      27.50
15  ING016          Salami        1000    grams      15.49
16  ING017       Black Tea        1000    grams      16.00

In [24]:
ingredient[(ingredient['ing_weight']==1000) & (ingredient['ing_meas']=='ml')]

   ing_id                       ing_name  ing_weight ing_meas  ing_price
1  ING002                     Whole Milk        1000       ml       1.20
5  ING006                  Vanilla syrup        1000       ml      14.52
6  ING007        Barista chocolate syrup        1000       ml       8.49
7  ING008  Barista white chocolate syrup        1000       ml       8.49
8  ING009          Barista caramel sauce        1000       ml       8.49

In [25]:
ingredient[(ingredient['ing_weight']<1000) & (ingredient['ing_meas']=='ml')]

    ing_id         ing_name  ing_weight ing_meas  ing_price
4   ING005    Whipped cream         300       ml       1.35
17  ING018  Vanilla extract          60       ml       9.99

In [26]:
ingredient[(ingredient['ing_weight']<1000) & (ingredient['ing_meas']=='grams')]

   ing_id    ing_name  ing_weight ing_meas  ing_price
2  ING003     Cheddar         500    grams       7.45
3  ING004  Mozzarella         500    grams       5.00

In [27]:
ingredient[(ingredient['ing_weight']<1000) & (ingredient['ing_meas']=='units')]

    ing_id      ing_name  ing_weight ing_meas  ing_price
10  ING011  Panini Bread           4    units       1.35
13  ING014        Lemons           5    units       1.50

In [28]:
price = pd.DataFrame(price)

In [29]:
price =  price.rename(columns={0:'ing_id',1:'ing_name',2:'Total'})
price

    ing_id                       ing_name    Total
0   ING001                 Espresso beans  12000.0
1   ING002                     Whole Milk   1200.0
2   ING003                        Cheddar   3725.0
3   ING004                     Mozzarella   2500.0
4   ING005                  Whipped cream    405.0
5   ING006                  Vanilla syrup  14520.0
6   ING007        Barista chocolate syrup   8490.0
7   ING008  Barista white chocolate syrup   8490.0
8   ING009          Barista caramel sauce   8490.0
9   ING010                          Sugar   1500.0
10  ING011                   Panini Bread      5.4
11  ING012                   Cocoa powder  22000.0
12  ING013                      Chocolate  10500.0
13  ING014                         Lemons      7.5
14  ING015                            Ham  27500.0
15  ING016                         Salami  15490.0
16  ING017                      Black Tea  16000.0
17  ING018                Vanilla extract    599.4

In [30]:
total_weight = []
for i in range(0,len(inventory)):
        total_weight.append([ingredient.iloc[i,0],ingredient.iloc[i,2]*inventory.iloc[i,2],ingredient.iloc[i,3]])
total_weight =pd.DataFrame(total_weight)
total_weight = total_weight.rename(columns={0:"ing_id",1:"Total_Quantity(in weight)",2:"Measurement"})
total_weight

    ing_id  Total_Quantity(in weight) Measurement
0   ING001                       4000       grams
1   ING002                      55000          ml
2   ING003                        500       grams
3   ING004                       2000       grams
4   ING005                       2100          ml
5   ING006                       3000          ml
6   ING007                       3000          ml
7   ING008                       4000          ml
8   ING009                       1000          ml
9   ING010                       4000       grams
10  ING011                         80       units
11  ING012                       5000       grams
12  ING013                       2000       grams
13  ING014                         50       units
14  ING015                       3000       grams
15  ING016                       2000       grams
16  ING017                       2000       grams
17  ING018                        120          ml

In [31]:
items['item_name'].value_counts()

item_name
Cappuccino                    2
Latte                         2
Caramel Macchiato             2
Mocha                         2
White Mocha                   2
Hot Chocolate                 2
Cold Coffee                   2
Cold Mocha                    2
Iced Tea                      2
Lemonade                      2
Flat White                    1
Espresso                      1
Sandwich Ham&Cheese           1
Sandwich Salami&Mozzarella    1
Name: count, dtype: int64

In [32]:
items['item_cat'].value_counts()

item_cat
Hot Drinks     14
Cold Drinks     8
Snacks          2
Name: count, dtype: int64

In [33]:
items['item_size'].value_counts()

item_size
Medium    10
Large     10
Name: count, dtype: int64

In [34]:
items.isna()

    item_id    sku  item_name  item_cat  item_size  item_price
0     False  False      False     False      False       False
1     False  False      False     False      False       False
2     False  False      False     False      False       False
3     False  False      False     False      False       False
4     False  False      False     False       True       False
5     False  False      False     False      False       False
6     False  False      False     False      False       False
7     False  False      False     False       True       False
8     False  False      False     False      False       False
9     False  False      False     False      False       False
10    False  False      False     False      False       False
11    False  False      False     False      False       False
12    False  False      False     False      False       False
13    False  False      False     False      False       False
14    False  False      False     False      False       False
15    False  False      False     False      False       False
16    False  False      False     False      False       False
17    False  False      False     False      False       False
18    False  False      False     False      False       False
19    False  False      False     False      False       False
20    False  False      False     False      False       False
21    False  False      False     False      False       False
22    False  False      False     False       True       False
23    False  False      False     False       True       False

In [35]:
items = items.dropna()
items

   item_id         sku          item_name     item_cat item_size  item_price
0    It001  HDR-CAP-MD         Cappuccino   Hot Drinks    Medium        3.45
1    It002  HDR-CAP-LG         Cappuccino   Hot Drinks     Large        3.75
2    It003  HDR-LAT-MD              Latte   Hot Drinks    Medium        3.45
3    It004  HDR-LAT-LG              Latte   Hot Drinks     Large        3.75
5    It006  HDR-CRM-MD  Caramel Macchiato   Hot Drinks    Medium        4.20
6    It007  HDR-CRM-LG  Caramel Macchiato   Hot Drinks     Large        4.60
8    It009  HDR-MOC-MD              Mocha   Hot Drinks    Medium        4.00
9    It010  HDR-MOC-LG              Mocha   Hot Drinks     Large        4.60
10   It011  HDR-WMO-MD        White Mocha   Hot Drinks    Medium        4.50
11   It012  HDR-WMO-LG        White Mocha   Hot Drinks     Large        4.70
12   It013  HDR-HCH-MD      Hot Chocolate   Hot Drinks    Medium        4.20
13   It014  HDR-HCH-LG      Hot Chocolate   Hot Drinks     Large        4.60
14   It015  CDR-CCF-MD        Cold Coffee  Cold Drinks    Medium        3.45
15   It016  CDR-CCF-LG        Cold Coffee  Cold Drinks     Large        3.75
16   It017  CDR-CMO-MD         Cold Mocha  Cold Drinks    Medium        4.00
17   It018  CDR-CMO-LG         Cold Mocha  Cold Drinks     Large        4.60
18   It019  CDR-ICT-MD           Iced Tea  Cold Drinks    Medium        3.25
19   It020  CDR-ICT-LG           Iced Tea  Cold Drinks     Large        3.55
20   It021  CDR-LMN-MD           Lemonade  Cold Drinks    Medium        3.35
21   It022  CDR-LMN-LG           Lemonade  Cold Drinks     Large        3.75

In [36]:
items['item_price'].value_counts()

item_price
3.75    4
4.60    4
3.45    3
4.20    2
4.00    2
4.50    1
4.70    1
3.25    1
3.55    1
3.35    1
Name: count, dtype: int64

In [37]:
items.where(items["item_price"]==items['item_price'].max())

   item_id         sku    item_name    item_cat item_size  item_price
0      NaN         NaN          NaN         NaN       NaN         NaN
1      NaN         NaN          NaN         NaN       NaN         NaN
2      NaN         NaN          NaN         NaN       NaN         NaN
3      NaN         NaN          NaN         NaN       NaN         NaN
5      NaN         NaN          NaN         NaN       NaN         NaN
6      NaN         NaN          NaN         NaN       NaN         NaN
8      NaN         NaN          NaN         NaN       NaN         NaN
9      NaN         NaN          NaN         NaN       NaN         NaN
10     NaN         NaN          NaN         NaN       NaN         NaN
11   It012  HDR-WMO-LG  White Mocha  Hot Drinks     Large         4.7
12     NaN         NaN          NaN         NaN       NaN         NaN
13     NaN         NaN          NaN         NaN       NaN         NaN
14     NaN         NaN          NaN         NaN       NaN         NaN
15     NaN         NaN          NaN         NaN       NaN         NaN
16     NaN         NaN          NaN         NaN       NaN         NaN
17     NaN         NaN          NaN         NaN       NaN         NaN
18     NaN         NaN          NaN         NaN       NaN         NaN
19     NaN         NaN          NaN         NaN       NaN         NaN
20     NaN         NaN          NaN         NaN       NaN         NaN
21     NaN         NaN          NaN         NaN       NaN         NaN

In [38]:
items.where(items["item_price"]==items['item_price'].min())

   item_id         sku item_name     item_cat item_size  item_price
0      NaN         NaN       NaN          NaN       NaN         NaN
1      NaN         NaN       NaN          NaN       NaN         NaN
2      NaN         NaN       NaN          NaN       NaN         NaN
3      NaN         NaN       NaN          NaN       NaN         NaN
5      NaN         NaN       NaN          NaN       NaN         NaN
6      NaN         NaN       NaN          NaN       NaN         NaN
8      NaN         NaN       NaN          NaN       NaN         NaN
9      NaN         NaN       NaN          NaN       NaN         NaN
10     NaN         NaN       NaN          NaN       NaN         NaN
11     NaN         NaN       NaN          NaN       NaN         NaN
12     NaN         NaN       NaN          NaN       NaN         NaN
13     NaN         NaN       NaN          NaN       NaN         NaN
14     NaN         NaN       NaN          NaN       NaN         NaN
15     NaN         NaN       NaN          NaN       NaN         NaN
16     NaN         NaN       NaN          NaN       NaN         NaN
17     NaN         NaN       NaN          NaN       NaN         NaN
18   It019  CDR-ICT-MD  Iced Tea  Cold Drinks    Medium        3.25
19     NaN         NaN       NaN          NaN       NaN         NaN
20     NaN         NaN       NaN          NaN       NaN         NaN
21     NaN         NaN       NaN          NaN       NaN         NaN

In [39]:
orders

,row_id,order_id,created_at,item_id,quantity,cust_name,in_or_out
0,1,ORD001,2024-02-12 07:04:19,It008,1,Alex,out
1,2,ORD002,2024-02-12 07:09:38,It014,1,Jordan,in
2,3,ORD003,2024-02-12 07:14:29,It008,1,Taylor,out
3,4,ORD004,2024-02-12 07:18:39,It019,1,Casey,out
4,5,ORD005,2024-02-12 07:23:44,It024,1,Jamie,out
...,...,...,...,...,...,...,...
516,517,ORD433,2024-02-17 16:11:00,It023,1,Gina,in
517,518,ORD434,2024-02-17 16:27:00,It006,1,Hugh,out
518,519,ORD435,2024-02-17 16:43:00,It018,1,Iris,in
519,520,ORD436,2024-02-17 16:59:00,It002,1,Jack,out
520,521,ORD437,2024-02-17 17:00:00,It026,1,Kiera,in

In [40]:
orders.isnull().sum()

row_id         0
order_id       0
created_at     0
item_id        0
quantity       0
cust_name      0
in_or_out     32
dtype: int64

In [41]:
orders = orders[orders['in_or_out']!=" "]
orders

,row_id,order_id,created_at,item_id,quantity,cust_name,in_or_out
0,1,ORD001,2024-02-12 07:04:19,It008,1,Alex,out
1,2,ORD002,2024-02-12 07:09:38,It014,1,Jordan,in
2,3,ORD003,2024-02-12 07:14:29,It008,1,Taylor,out
3,4,ORD004,2024-02-12 07:18:39,It019,1,Casey,out
4,5,ORD005,2024-02-12 07:23:44,It024,1,Jamie,out
...,...,...,...,...,...,...,...
516,517,ORD433,2024-02-17 16:11:00,It023,1,Gina,in
517,518,ORD434,2024-02-17 16:27:00,It006,1,Hugh,out
518,519,ORD435,2024-02-17 16:43:00,It018,1,Iris,in
519,520,ORD436,2024-02-17 16:59:00,It002,1,Jack,out
520,521,ORD437,2024-02-17 17:00:00,It026,1,Kiera,in

In [42]:
Inside = 0
Outside = 0
for i in range(0,len(orders)):
    if(orders.iloc[i,6]=="in"):
        Inside = Inside+1
    else:
        Outside = Outside+1
print(f"Orders Still Inside the Shop {Inside}")
print(f"Orders Completed {Outside}")

Orders Still Inside the Shop 203
Orders Completed 260

In [43]:
orders['in_or_out'].groupby(orders['item_id']).value_counts()

item_id  in_or_out
It001    in           12
         out           9
It0010   out           1
It002    out          11
         in            6
It003    in            9
         out           7
It004    in           11
         out           8
It005    out          18
         in            8
It006    out          10
         in            8
It007    out           9
         in            5
It008    out           8
         in            6
It009    out          15
         in           10
It010    out           7
         in            5
It011    out           9
         in            6
It012    in           11
         out           6
It013    out           6
         in            5
It014    in           11
         out           5
It015    in            8
         out           4
It016    out           8
         in            5
It017    in           10
         out           9
It018    out          13
         in            9
It019    out           9
         in            5
It020    out          10
         in            2
It021    out           8
         in            7
It022    in            6
         out           6
It023    in            7
         out           4
It024    in           10
         out           4
It025    in            4
         out           4
It026    in            7
         out           7
It027    out           8
         in            6
It028    out           5
         in            4
Name: count, dtype: int64

In [44]:
rota[['shift_id']].value_counts()

shift_id
SH001       2
SH003       2
SH005       2
SH007       2
SH009       2
SH011       2
SH002       1
SH004       1
SH006       1
SH008       1
SH010       1
SH012       1
Name: count, dtype: int64

In [45]:
rota.isnull()

    row_id  rota_id   date  shift_id  staff_id
0    False    False  False     False     False
1    False    False  False     False     False
2    False    False  False     False     False
3    False    False  False     False     False
4    False    False  False     False     False
5    False    False  False     False     False
6    False    False  False     False     False
7    False    False  False     False     False
8    False    False  False     False     False
9    False    False  False     False     False
10   False    False  False     False     False
11   False    False  False     False     False
12   False    False  False     False     False
13   False    False  False     False     False
14   False    False  False     False     False
15   False    False  False     False     False
16   False    False  False     False     False
17   False    False  False     False     False

In [46]:
rota

    row_id rota_id        date shift_id staff_id
0        1   RT001  2024-02-12    SH001    ST001
1        2   RT001  2024-02-12    SH001    ST003
2        3   RT001  2024-02-12    SH002    ST001
3        4   RT002  2024-02-13    SH003    ST002
4        5   RT002  2024-02-13    SH003    ST004
5        6   RT002  2024-02-13    SH004    ST002
6        7   RT003  2024-02-14    SH005    ST001
7        8   RT003  2024-02-14    SH005    ST003
8        9   RT003  2024-02-14    SH006    ST003
9       10   RT004  2024-02-15    SH007    ST002
10      11   RT004  2024-02-15    SH007    ST004
11      12   RT004  2024-02-15    SH008    ST004
12      13   RT005  2024-02-16    SH009    ST001
13      14   RT005  2024-02-16    SH009    ST002
14      15   RT005  2024-02-16    SH010    ST002
15      16   RT006  2024-02-17    SH011    ST003
16      17   RT006  2024-02-17    SH011    ST004
17      18   RT006  2024-02-17    SH012    ST004

In [47]:
rota_info = []
Rota_id = input("Enter rota id")
for i in range(0,len(rota)):
    if(rota.iloc[i,1]==Rota_id):
        for j in range(0,len(shift)):
            for k in range(0, len(staff)):
                if(rota.iloc[i,4]==staff.iloc[k,0]):
                     if(rota.iloc[i,3]==shift.iloc[j,0]):
                            rota_info.append([rota.iloc[i,1],rota.iloc[i,2],rota.iloc[i,3],rota.iloc[i,4],shift.iloc[j,1],shift.iloc[j,2],shift.iloc[j,3],staff.iloc[k,1],staff.iloc[k,2],staff.iloc[k,3],staff.iloc[k,4]])
rota_info = pd.DataFrame(rota_info)
rota_info = rota_info.rename(columns={0:'rota_id',1:"date",2:"shift_id",3:"staff_id",4:"day_of_week",5:"start_time",6:"end_time",7:"first_name",8:"last_name",9:"position",10:"sal_per_hour"})
rota_info

StdinNotImplementedError: raw_input was called, but this frontend does not support input requests.

In [ ]:
date_info = []
Date = input("Enter Date")
for i in range(0,len(rota)):
    if(rota.iloc[i,2]==Date):
        for j in range(0,len(shift)):
            for k in range(0, len(staff)):
                if(rota.iloc[i,4]==staff.iloc[k,0]):
                     if(rota.iloc[i,3]==shift.iloc[j,0]):
                            date_info.append([rota.iloc[i,1],rota.iloc[i,2],rota.iloc[i,3],rota.iloc[i,4],shift.iloc[j,1],shift.iloc[j,2],shift.iloc[j,3],staff.iloc[k,1],staff.iloc[k,2],staff.iloc[k,3],staff.iloc[k,4]])
date_info = pd.DataFrame(date_info)
date_info = date_info.rename(columns={0:'rota_id',1:"date",2:"shift_id",3:"staff_id",4:"day_of_week",5:"start_time",6:"end_time",7:"first_name",8:"last_name",9:"position",10:"sal_per_hour"})
date_info

In [ ]:
shift_info = []
Shift_id = input("Enter Shift id")
for i in range(0,len(rota)):
    if(rota.iloc[i,3]==Shift_id):
        for j in range(0,len(shift)):
            for k in range(0, len(staff)):
                if(rota.iloc[i,4]==staff.iloc[k,0]):
                     if(rota.iloc[i,3]==shift.iloc[j,0]):
                            shift_info.append([rota.iloc[i,1],rota.iloc[i,2],rota.iloc[i,3],rota.iloc[i,4],shift.iloc[j,1],shift.iloc[j,2],shift.iloc[j,3],staff.iloc[k,1],staff.iloc[k,2],staff.iloc[k,3],staff.iloc[k,4]])
shift_info = pd.DataFrame(shift_info)
shift_info = shift_info.rename(columns={0:'rota_id',1:"date",2:"shift_id",3:"staff_id",4:"day_of_week",5:"start_time",6:"end_time",7:"first_name",8:"last_name",9:"position",10:"sal_per_hour"})
shift_info

In [ ]:
staff_info = []
Staff_id = input("Enter Staff id")
for i in range(0,len(rota)):
    if(rota.iloc[i,4]==Staff_id):
        for j in range(0,len(shift)):
            for k in range(0, len(staff)):
                if(rota.iloc[i,4]==staff.iloc[k,0]):
                     if(rota.iloc[i,3]==shift.iloc[j,0]):
                            staff_info.append([rota.iloc[i,1],rota.iloc[i,2],rota.iloc[i,3],rota.iloc[i,4],shift.iloc[j,1],shift.iloc[j,2],shift.iloc[j,3],staff.iloc[k,1],staff.iloc[k,2],staff.iloc[k,3],staff.iloc[k,4]])
staff_info = pd.DataFrame(staff_info)
staff_info = staff_info.rename(columns={0:'rota_id',1:"date",2:"shift_id",3:"staff_id",4:"day_of_week",5:"start_time",6:"end_time",7:"first_name",8:"last_name",9:"position",10:"sal_per_hour"})
staff_info